body{
    background: dimgrey;
}
#divplan {
    position: absolute;
    height: 70vh;
    width: 90vw;
    left: 5vw;
    display: inline-block;
}
#plan{
    width: inherit;
    height: inherit;
    z-index: 1;
}
h3{
    text-align: center;
}
.restroom{
    height: 10vh;
    width: 10vw;
    position: relative;
    z-index: 2;
    display: block;
}
.north{
    position: relative;
    left: 8vw;
    top: -45vh;
    display: inline-block;
}
.south{
    position: relative;
    left: 65vw;
    top: -45vh;
    display: inline-block;
}

.compass{
    width: 100px;
    height: 100px;
    padding: 0 2em 0 0;
    float: right;
}

.buildingselect{
    width: 200px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align-last: center;
}

.bgorange{
    background: orange;
}

.bgred{
    background: red;
}

.bggreen{
    background: green;
}

.bggrey{
    background: grey;
}